**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/TestResults/
.git/
.tmp/
logs/
publish/
App_Data/
*.user
*.suo
*.rsuser
*.nupkg
*.snupkg
appsettings.Production.json
appsettings.*.Local.json
.env
secrets.json
*.db
*.db-shm
*.db-wal
