bin/
obj/
.vs/
.vscode/
node_modules/
.tmp/
logs/
publish/
TestResults/
**/App_Data/DataProtectionKeys/
*.user
*.suo
*.rsuser
*.nupkg
*.snupkg
appsettings.Production.json
appsettings.*.Local.json
.env
secrets.json
*.db
*.db-shm
*.db-wal
