$sx-space-1: var(--sx-space-1);
$sx-space-2: var(--sx-space-2);
$sx-space-3: var(--sx-space-3);
$sx-space-4: var(--sx-space-4);
$sx-space-5: var(--sx-space-5);
$sx-space-6: var(--sx-space-6);
$sx-radius: var(--sx-radius);
$sx-card-padding: var(--sx-card-padding);
$sx-table-cell-y: var(--sx-table-cell-y);
$sx-table-cell-x: var(--sx-table-cell-x);
