<div class="ui-action-buttons">
    <button class="btn btn-light btn-sm ui-icon-button" type="button" aria-label="View"><i class="fa-solid fa-eye" aria-hidden="true"></i></button>
    <button class="btn btn-light btn-sm ui-icon-button" type="button" aria-label="Edit"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></button>
    <button class="btn btn-light btn-sm ui-icon-button" type="button" aria-label="Permissions"><i class="fa-solid fa-user-shield" aria-hidden="true"></i></button>
    <button class="btn btn-light btn-sm ui-icon-button text-danger" type="button" aria-label="Delete"><i class="fa-solid fa-trash" aria-hidden="true"></i></button>
</div>
