<div class="ui-radio-group">
    <label class="form-check form-check-inline">
        <input class="form-check-input" name="uiRadioGroup" type="radio" checked />
        <span class="form-check-label">Standard</span>
    </label>
    <label class="form-check form-check-inline">
        <input class="form-check-input" name="uiRadioGroup" type="radio" />
        <span class="form-check-label">Advanced</span>
    </label>
</div>
