<div class="ui-spinner-set">
    <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
    <div class="spinner-border text-primary" role="status"></div>
    <div class="spinner-border ui-spinner-lg text-primary" role="status"></div>
    <div class="spinner-grow spinner-grow-sm text-success" role="status"></div>
    <button class="btn btn-primary btn-sm" type="button" data-ui-loading-button>
        <span class="spinner-border spinner-border-sm d-none" data-ui-loading-button-spinner></span>
        Save
    </button>
</div>
