<div class="ui-skeleton-stack" aria-hidden="true">
    <div class="ui-skeleton ui-skeleton-title"></div>
    <div class="ui-skeleton"></div>
    <div class="ui-skeleton"></div>
    <div class="ui-skeleton ui-skeleton-short"></div>
</div>
