<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="uiToggleSwitch" checked />
    <label class="form-check-label" for="uiToggleSwitch">Allow access</label>
</div>
