<li class="nav-item dropdown">
    <button class="btn btn-light btn-sm user-menu-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Admin
    </button>
    <div class="dropdown-menu dropdown-menu-end">
        <span class="dropdown-item-text text-muted">Platform Admin</span>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Account/Logout">Logout</a>
    </div>
</li>
